@import 'tailwindcss';

@font-face {
  font-family: 'pricedown';
  src: url('/pricedown.otf') format('opentype');
  font-display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'pricedown';
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar on mobile */
@media (max-width: 768px) {
  html,
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
